/* BASE */
body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #66d3fa 10%, #c061ff 50%);
  font-family: 'Raleway', sans-serif;
  overflow: hidden; }

.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 20fr; }

button {
  cursor: pointer;
  padding: 0;
  border-radius: 0; }
  button:focus {
    outline: 0; }

img {
  opacity: 1;
  transition: opacity 0.3s; }

img[data-src] {
  opacity: 0; }

/* TRANSITIONS */
.manga-item-enter {
  opacity: 0.01; }

.manga-item-enter.manga-item-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in; }

.manga-item-leave {
  opacity: 1; }

.manga-item-leave.manga-item-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-in; }

.manga-item-appear {
  opacity: 0.01; }

.manga-item-appear.manga-item-appear-active {
  opacity: 1;
  transition: opacity 1500ms ease-in; }

/* COMPONENTS */
.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  grid-column: 1;
  grid-row: 2; }
  .navbar .link-index .link-item a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none; }
    .navbar .link-index .link-item a h1 {
      grid-column: 2;
      font-size: 1em;
      padding: 1em 0;
      color: #000; }
    .navbar .link-index .link-item a .icon-container {
      grid-column: 1;
      padding: 1em; }
      .navbar .link-index .link-item a .icon-container .icon {
        height: 2em; }

.header {
  grid-row: 1;
  grid-column: 1;
  background-color: rgba(0, 0, 0, 0.2); }
  .header .logo {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: #FFF; }

.manga-index {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 97vh;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  margin: 0.75em; }
  .manga-index button {
    height: 300px;
    width: 200px;
    margin: 1.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 1em;
    transition: background-color .5s; }
    .manga-index button:hover {
      background-color: rgba(0, 0, 0, 0.3); }

.manga-item a {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 200px;
  margin: 1.5em;
  text-decoration: none;
  transition: background-color .5s; }
  .manga-item a:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .manga-item a h1 {
    grid-row: 2;
    font-size: 1em;
    text-align: center;
    color: black; }
  .manga-item a img {
    grid-row: 1;
    height: 100%;
    width: 100%; }

.manga-detail .title, .manga-detail .artist, .manga-detail .description, .manga-detail .categories, .manga-detail .chapter-picker {
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  padding: 0.5em; }

.manga-detail {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 97vh;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  margin: 0.75em;
  padding-right: 0.75em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 12.5%);
  grid-row-gap: 0px;
  grid-column-gap: 0.75em; }
  .manga-detail .image-container {
    grid-column: 1/2;
    grid-row: 1 / 9; }
    .manga-detail .image-container img {
      height: 100%;
      width: 100%; }
  .manga-detail .title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.2em;
    text-align: center;
    color: #000;
    font-weight: bolder; }
  .manga-detail .artist {
    grid-column: 2/3;
    grid-row: 2/3; }
  .manga-detail .description {
    grid-column: 2/3;
    grid-row: 4/8;
    display: flex;
    flex-direction: column; }
    .manga-detail .description span {
      font-size: 1.5em; }
  .manga-detail .categories {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
    .manga-detail .categories .span {
      font-size: 1.5em; }
    .manga-detail .categories .category {
      margin: 0 0.5em;
      padding: 0.5em;
      border-radius: 0.5em;
      background: rgba(0, 0, 0, 0.1); }
  .manga-detail .chapter-picker {
    grid-column: 2/3;
    grid-row: 8/9;
    margin-bottom: 1em; }

.manga-detail .title, .manga-detail .artist, .manga-detail .description, .manga-detail .categories, .manga-detail .chapter-picker {
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  padding: 0.5em; }

.chapter-picker form select, .chapter-picker form button {
  height: 5em;
  width: 45%;
  border: none;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.1); }

.chapter-picker form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .chapter-picker form select {
    padding: 1em; }
  .chapter-picker form button {
    transition: all 1s; }
    .chapter-picker form button:hover {
      background: rgba(255, 255, 255, 0.1);
      color: #000;
      font-weight: 800;
      padding: 0; }

.manga-detail .title, .manga-detail .artist, .manga-detail .description, .manga-detail .categories, .manga-detail .chapter-picker {
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  padding: 0.5em; }

.reader {
  grid-column: 2;
  grid-row: 1 / 3;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, 1fr); }
  .reader .image-container {
    grid-column: 2/4;
    grid-row: 1/6;
    height: 100%;
    width: 100%;
    overflow-y: scroll; }
    .reader .image-container img {
      width: 100%; }
  .reader .next {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    border: none;
    padding: 0.5em; }
  .reader .prev {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    border: none;
    padding: 0.5em; }
  .reader .page-num {
    grid-column: 1/2;
    grid-row: 2/3;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    padding: 0.5em;
    text-align: center; }
  .reader .chapter-picker {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .reader .chapter-picker form select {
      width: 95%; }
  .reader a {
    color: red; }

/*# sourceMappingURL=main.css.map */
