
.manga-detail {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 97vh;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    margin: 0.75em;

    display: subgrid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: repeat( 1fr );
    
    
}