.manga-index {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 97vh;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    
    display: flex;
    flex-wrap: wrap;
    margin: 0.75em;

    button {
        height: 300px;
        width: 200px;
        margin: 1.5em;  
        background-color: rgba(0,0,0, 0.1);
        border: none;
        font-size: 1em;
        transition: background-color .5s;
        &:hover {
            background-color: rgba(0,0,0, 0.3);
        }
    }
}