
.manga-item a{
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: rgba(0,0,0, 0.1);
    height: 300px;
    width: 200px;
    margin: 1.5em;    
    text-decoration: none;
    transition: background-color .5s;
    &:hover {
        background-color: rgba(0,0,0, 0.2);
    }
    h1 {
        grid-row: 2;
        font-size: 1em;
        text-align: center;
        color: black;
    }

    img {
        grid-row: 1;
        height: 100%;
        width: 100%;
    }
}