
body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, rgb(0, 185, 252) 5%, #b23eff 50%);
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 15fr;
    grid-column-gap: 1em;
}