
body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, blue, purple) no-repeat;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    display: flex;
}